.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
/* .btn{

   background-image: linear-gradient(black, rgb(15, 15, 59));} */
.h-custom {
height: calc(100% - 73px);
}

.card{
  box-shadow: 2px 2px 2px 2px black;
}
@media (max-width: 450px) {
.h-custom {
height: 100%;

}
}
.card {

  box-shadow: 0px 10px 20px #2fd8a033;
}
 .btn{
  background: black;
  border: white;
}
.btn:hover {
  background:li

}
.form-control{
  border:#2fd8a033 ;
}
.container-fluid{
  background-color: lightgray;
  


}
.flex{
  display: flex;
  position: relative;
  left: 170px;
}


