<div id="p-0 " >
  <div class="l-navbar bg-GR " >
    <nav class=" nav navbar " >
          <div>
              <div class="nav_list">
                <a class="nav_link active">
                  <i class='bx bx-grid-alt nav_icon'></i>
                </a>
                <a  (click)="onChat()" class="nav_link" title="Contacts">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M3.5 8a5.5 5.5 0 1 1 8.596 4.547 9.005 9.005 0 0 1 5.9 8.18.751.751 0 0 1-1.5.045 7.5 7.5 0 0 0-14.993 0 .75.75 0 0 1-1.499-.044 9.005 9.005 0 0 1 5.9-8.181A5.496 5.496 0 0 1 3.5 8ZM9 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm8.29 4c-.148 0-.292.01-.434.03a.75.75 0 1 1-.212-1.484 4.53 4.53 0 0 1 3.38 8.097 6.69 6.69 0 0 1 3.956 6.107.75.75 0 0 1-1.5 0 5.193 5.193 0 0 0-3.696-4.972l-.534-.16v-1.676l.41-.209A3.03 3.03 0 0 0 17.29 8Z"></path></svg></a>
                <a href="#" class="nav_link" title="Inbox">
                  <svg xmlns="https://i.postimg.cc/66gTmTjY/logoch.png" viewBox="0 0 24 24" width="24" height="24"><path d="M4.801 3.57A1.75 1.75 0 0 1 6.414 2.5h11.174c.702 0 1.337.42 1.611 1.067l3.741 8.828c.04.092.06.192.06.293v7.562A1.75 1.75 0 0 1 21.25 22H2.75A1.75 1.75 0 0 1 1 20.25v-7.5c0-.1.02-.199.059-.291L4.8 3.571ZM6.414 4a.25.25 0 0 0-.23.153L2.88 12H8a.75.75 0 0 1 .648.372L10.18 15h3.638l1.533-2.628a.75.75 0 0 1 .64-.372l5.13-.051-3.304-7.797a.25.25 0 0 0-.23-.152ZM21.5 13.445l-5.067.05-1.535 2.633a.75.75 0 0 1-.648.372h-4.5a.75.75 0 0 1-.648-.372L7.57 13.5H2.5v6.75c0 .138.112.25.25.25h18.5a.25.25 0 0 0 .25-.25Z"></path></svg>
                </a>
                <a (click)="onProfile()" title="Profile" class="nav_link">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M12 2.5a5.5 5.5 0 0 1 3.096 10.047 9.005 9.005 0 0 1 5.9 8.181.75.75 0 1 1-1.499.044 7.5 7.5 0 0 0-14.993 0 .75.75 0 0 1-1.5-.045 9.005 9.005 0 0 1 5.9-8.18A5.5 5.5 0 0 1 12 2.5ZM8 8a4 4 0 1 0 8 0 4 4 0 0 0-8 0Z"></path></svg>
                </a>
              </div>
           </div>
           <div class="lo  " title="Logout">
            <a class="nav_link logout" (click)=" Logout()"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M3 3.25c0-.966.784-1.75 1.75-1.75h5.5a.75.75 0 0 1 0 1.5h-5.5a.25.25 0 0 0-.25.25v17.5c0 .138.112.25.25.25h5.5a.75.75 0 0 1 0 1.5h-5.5A1.75 1.75 0 0 1 3 20.75Zm9.994 9.5 3.3 3.484a.75.75 0 0 1-1.088 1.032l-4.5-4.75a.75.75 0 0 1 0-1.032l4.5-4.75a.75.75 0 0 1 1.088 1.032l-3.3 3.484h8.256a.75.75 0 0 1 0 1.5Z"></path></svg> </a>

           </div>
    </nav>
</div>
</div>
<div class="d-flex">
  <div class="container-f bl " style=" width: 350px;"  >
    <div class="container"  style="padding-left: 100px;" *ngIf="chatlink">
      <h4 class="mt-2">Chats</h4>
      <app-search></app-search>

    <ul class="list-unstyled mt-1 "  *ngFor="let user of Users">
      <li class="d-flex box sele p-2" [class.selected]="user == selectedUser" (click)="onSelectedUser(user)" style="background-color: #eee;">
        <img [src]="user.image" alt="avatar"
        class="rounded-circle avatar d-flex align-self-center me-1 shadow-1-strong">
        <p class="fw-bold texr-dark mb-0 "style="color:black;">{{user.username}}</p>
      </li>
    </ul>

    </div>
    <div class="containe  " *ngIf="profilelink" style="padding-left: 80px; width: 350px; height: 100%; background-color: lightcyan ;" >
      <div class="container vh-30 pt-2" >
       <h5 style="text-align: end;">My Profile</h5>
       <div class="container img-container">
        <img [src]="currentUser.image" alt="" class="profile-imag mt-3">
       </div>
      </div>
      <div class="container">
        <p class="text-white pt-5" style="text-align: center;">{{currentUser.username}}</p>
        <p class="text pt-1" style="text-align: center; font-size: 15px; color: black;">+27 {{currentUser.number}}</p>
      </div>
    </div>
  </div>


  <div class="contain w-100">
    <header class="head pb-0" *ngIf="selectedUser">
      <div class="d-flex pb-3 mt-2" style="padding-left: 12px;">
        <img [src]="selectedUser.image" alt="" class="profile">
        <div class="container">
          <h6>{{selectedUser.username}}</h6>
          <p class="text-on">online</p>
        </div>
      </div>
      <hr>

      <div class="home-chats">
        <div class="container-fluid" *ngFor="let msg of msgList">
                <div class="container-m" >
                  <div class="contaier " *ngIf= "msg.sender !== currentUser.username">
                    <div class="arrow" >
                      <div class="outer"></div>
                      <div class="inner"></div>
                    </div>
                    <div class="message-body">
                      <p> {{msg.text}}</p>
                    </div>
                  </div>
                </div>


                <div class="container-m w-100" >
                  <div class="contaier mt-10" *ngIf= "msg.sender == currentUser.username">
                    <div class="arrow-2" >
                      <div class="outer"></div>
                      <div class="inner"></div>
                    </div>
                    <div class="message-body-2 " (click)="deteleMessage(msg)">
                      <p> {{msg.text}}</p>
                    </div>
                  </div>
                </div>
                <div class="headerr" *ngIf="!msgList">
                  Select Chats
                </div>
        </div>
      </div>
      <footer class="container d-flex" >
        <input type="text" class="message-text w-100 " [(ngModel)]="message">
        <button class="btn bg-dark  send text-white" (click)="sendMessage()">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
            <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"/>
          </svg>
        </button>
      </footer>
    </header>

    <div class="headerr" *ngIf="!selectedUser">
      Select Chats
    </div>

  </div>
</div>



