<!-- <section style="background-color: #eee;" class=" vh-100">
  <div class="">
    <div class="row">
      <div class="col-md-6 col-lg-5 col-xl-4 mb-4 mb-md-0 ">
        <div class="card-body m-1">
           <ul class="list-unstyled mb-3" >
         
              <li class="p-2 border-bottom" style="background-color:  white;">
                <h6>My Account</h6>
                <a  class="d-flex justify-content-between" >
                  <div class="d-flex flex-row">
                    <img [src]="currentUser.image" alt="avatar"
                      class="rounded-circle d-flex align-self-center me-3 shadow-1-strong" width="60" height="60">
                    <div class="pt-1">
                      <p class="fw-bold mb-0" style="font-size: 21px;">{{currentUser.username}}</p>
                    </div>
                  </div>
                  <div class="pt-1">
                    <p class="small text-muted mb-1">Just now</p>
                    <span class="badge bg-danger float-end">1</span>
                  </div> 
                </a>
              </li>
              
            </ul>
            <ul class="list-unstyled mb-0 mt-4"  *ngFor="let user of Users">
              <li class="p-2 border-bottom" style="background-color: #eee;">
                <a  class="d-flex justify-content-between"[class.selected]="user == selectedUser" (click)="onSelectedUser(user)">
                  <div class="d-flex flex-row">
                    <img [src]="user.image" alt="avatar"
                      class="rounded-circle d-flex align-self-center me-3 shadow-1-strong" width="60" height="60">
                    <div class="pt-1">
                      <p class="fw-bold mb-0">{{user.username}}</p>
                    </div>
                  </div>
                  <div class="pt-1">
                    <p class="small text-muted mb-1">Just now</p>
                    <span class="badge bg-danger float-end">1</span>
                  </div>
                </a>
              </li>
              
            </ul>

        </div>
      </div>
      <app-chats-message [user1]="selectedUser"></app-chats-message>
    </div>

  </div>
</section> -->

<div class="d-flex">
  <div class="con w-50 ">
    <ul class="list-unstyled mb-0 mt-4"  *ngFor="let user of Users">
      <li class="p-2 border-bottom" style="background-color: #eee;">
        <a  class="d-flex justify-content-between" style="border: 1px solid black;" [class.selected]="user == selectedUser" (click)="onSelectedUser(user)">
          <div class="d-flex flex-row">
            <img [src]="user.image" alt="avatar"
              class="rounded-circle d-flex align-self-center me-3 shadow-1-strong" width="60" height="60">
            <div class="pt-1">
              <p class="fw-bold mb-0">{{user.username}}</p>
            </div>
          </div>
          <div class="pt-1">
            <p class="small text-muted mb-1">Just now</p>
            <span class="badge bg-danger float-end">1</span>
          </div>
        </a>
      </li>
      
    </ul>
  </div>
 
  <div class="container">
    <header class="head pb-0">
      <div class="d-flex p-2 mt-2" *ngIf="selectedUser">
        <img [src]="selectedUser.image" alt="" class="profile">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle-fill po text-success" viewBox="0 0 16 16">
          <circle cx="8" cy="8" r="8"/>
        </svg>
        <div class="container">
          <h6>{{selectedUser.username}}</h6>
          <p class="text-on">online</p>
        </div>
      </div>
      <hr>
      <div class="vh-50">
        <div class="msg-container d-flex mb-2" *ngFor="let msg of msgList">
          <img [src]="currentUser.image" alt="" class="msg-profile">
          <div class="msg-box p-2">
          <p>{{msg.text}}</p>
          </div>
        </div>
        <!-- <div class="container " *ngFor="let msg of msgList">
          <div class="" style="height: 20px;">{{msg.text}}</div>
        </div> -->
      </div>
      <hr>
      <div class="container d-flex">
        <input type="text" class="message-text w-100 " [(ngModel)]="message">
        <button class="btn bg-dark  send text-white">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
            <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"/>
          </svg>
        </button>
      </div>
      
    </header>
   
  </div>
</div>
