/* Reset some default styles for the chat container */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Style the chat container */
.chat-container {
    width: 300px;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(175, 224, 228, 0.2);
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

/* Style the profile picture */
.profile-picture {
    padding: 10px;
    text-align: center;
}

.profile-picture img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

/* Style the chat box */
.chat-box {
    padding: 10px;
    overflow-y: auto;
    max-height: 200px;
}

.message {
    background-color: #f2f2f2;
    padding: 8px 12px;
    margin-bottom: 8px;
    border-radius: 10px;
    word-wrap: break-word;
}

/* Style the input container */
.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ccc;
}

#message-input {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

#send-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    outline: none;
}

#send-button:hover {
    background-color: #0056b3;
}





#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}
